#wrapper div{
    float: left;
}

#tools{
    width: 100px;
    height: 400px;

}

#tools div{
    margin: 25px;
    width: 50px;
    height: 50px;
}

#pencilTool {
    background: url("../images/tools.jpg") -152px, 0;

}

#lineTool {
    background: url("../images/tools.jpg") -50px, 0;
}

#rectTool {
    background: url("../images/tools.jpg") -101px, -20px;
}

#ellipseTool {
    background: url("../images/tools.jpg") -2px, 0;
}

#svgWrapper{
    width: 600px;
    height: 400px;
    outline:3px solid #999999;
}